* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}
.article {
  max-width: 1200px;
  margin: auto;
  padding: 30px 30px;
}
.article--header {
  margin-bottom: 40px;
  color: #00008B;
}
.article--text {
  padding: 25 0px;
  margin-bottom: 30px;
  margin-right: 340px;
}
.article--image {
  margin-left: 65px;
  font-size:14px;
  margin-bottom: 40px;
}
.article--imagesidebar {
  margin-top: -77px;
  margin-left: 791px;
  position: absolute;
  bottom: 0;
}

.article--text  {
  float:left;
  border:1px;
  width:68%;
}
.article--imagesidebar {
  float:right;
  border:1px;
}
.article--text2 {
  padding: 25 0px;
  margin-bottom: 40px;
  margin-right: 340px;
  float:left;
  border:1px;
  width:68%;
  font-size:16px;
}
@media (min-width: 768px) {
  .column-tablet-1-2 {
    max-width: 50%;
  }
}
@media (min-width: 1000px) {
  .column-desktop-1-4 {
    max-width: calc(100%/4);
  }
}
